/* Style for HTML elements */

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #b1bac4;
}

.info-pane-container {
    overflow: hidden;
    height: 100%
}

.info-pane {
    background-color: #161b22;
    overflow-y: scroll;
    height: 100%;
    padding: 15px;
}

.info-pane::-webkit-scrollbar {
    display: none;
}

.separator {
    background-color: #6e7681;
}

#dag-viewer {
    position: relative;
    background-color: #06090f;
    height: 100%;
    overflow: hidden;
}

#dag-svg {
    position: absolute;
    width: 500px;
    height: 500px;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 600px 2px auto;
}

code {
    border-radius: 10px;
}

.button {
    background-color: #21262d;
    color: #b1bac4;
    border: 2px solid #30363d;
    border-radius: 5px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #0d1117;
    color: #b1bac4;
}


/* SVG style */

.node {
    cursor: pointer;
}

.node > path {
    fill: #0d1117;
    stroke: #30363d;
}

.node > polygon {
    fill: #0d1117;
    stroke: #30363d;
}

.edge > path {
    fill: none;
    stroke: #30363d;
}

.edge > polygon{
    fill: #30363d;
    stroke: #30363d;
}

text {
    fill: #b1bac4;
}

.node-highlight1 > path {
    fill: #21262d;
    stroke: #484f58;
}

.node-highlight1 > polygon {
    fill: #21262d;
    stroke: #484f58;
}

.node-highlight2 > path {
    fill: #30363d;
    stroke: #6e7681;
}

.node-highlight2 > polygon {
    fill: #30363d;
    stroke: #6e7681;
}
